<!-- navigation-header -->
<nav class="toolbar">
    <!-- Main toolbar -->
    <div class="bar-box flex-column" id="bar-box">
        <span class="bars"></span>
        <span class="bars"></span>
        <span class="bars"></span>
    </div>

    <section class="section-toolbar flex-row ">
        <div class="main-toolbar ">
        </div>
        <div class="main-toolbar-mobile flex-row">
            <div class="content-main-toolbar-mobile ">
                <a href="/" class="home flex-row">
                    <picture>
                        <source srcset="/images/logo.avif" type="image/avif" />
                        <source srcset="/images/logo.webp" type="image/webp"/>
                        <source srcset="/images/logo.png" type="image/png"/>
                        <img src="/images/logo.jpeg" alt="Oc2" class="logo"/>
                    </picture>
                    <span class="oc2">Geekspool</span>
                </a>
            </div>
        </div>
        <div class="main-toolbar "></div>
    </section>
    <div class="side-bar flex-row">
        <div class="side-bar-div flex-column">
            <a class="content-side-bar" href="/pricing">
                <div>Pricing </div>
            </a>
            <a class="content-side-bar" href="/tools">
                <div>Tools </div>
            </a>
            <a class="content-side-bar" href="/tutorials">
                <div>Tutorials </div>
            </a>
            <div class="side-bar-signin flex-row">
                <% if(user){ %>
                <%- include("../components/profilepopup", {user}) %>
                <% }else{ %>
                    <a href="/signin"><button class="login_b">Sign In </button></a>
                <% } %>
            </div>
        </div>
        <div class="side-bar-div blur-box"></div>
    </div>
    <section class="section-toolbar flex-row">
        <div class="main-toolbar "></div>
        <div class="main-toolbar flex-row">
            <div class="content-main-toolbar ">
                <a href="/" class="home flex-row">
                    <picture>
                        <source srcset="/images/logo.avif" type="image/avif" />
                        <source srcset="/images/logo.webp" type="image/webp"/>
                        <source srcset="/images/logo.png" type="image/png"/>
                        <img src="/images/logo.jpeg" alt="Oc2" class="logo"/>
                    </picture>
                    <span class="oc2">Geekspool</span>
                </a>
            </div>
            <div class="content-main-toolbar"><a href="/pricing">Pricing</a> </div>
            <div class="content-main-toolbar"><a href="/tools">Tools</a> </div>
            <div class="content-main-toolbar"><a href="/tutorials">Tutorials</a> </div>
            <div class="content-main-toolbar flex-row">
                <% if(user){ %>
                <%- include("../components/profilepopup", {user}) %>
                <% }else{ %>
                <a href="/signin"><button class="login_b">Sign In </button></a>
                <% } %>
            </div>
        </div>
        <div class="main-toolbar "></div>
    </section>
    <!--section class="section-toolbar"></section-->

</nav>