<%- include("../../shared/header") %>
<%- include("../../shared/navbar", {user}) %>
<main class="main flex-row">
    <div class="main-content"></div>
    <div class="main-content flex-column" id="mainContent">
        <span class="su-desc error"><%=messages.info %></span>
        <div class="flex-row delbox">
            <a href="/rss/new"><button type="button">Rss Generator</button></a>
            <a href="/sitemap/new"><button type="button">Sitemap Generator</button></a>
        </div>
        <form action="/deleteDataFromDb" method="post">
            <div class="flex-row delbox">
                <div>
                    <select name="database" class="select-box" id="">
                        <option value="">Select Database</option>
                        <option value="rss">Rss</option>
                        <option value="sitemap">Sitemap</option>
                    </select>
                </div>
                <div>
                    <input type="text" class="inputid" name="id" placeholder="Enter Id" id="">
                </div>
                <div>
                    <button type="submit">Delete Permanently</button>
                </div>
            </div>
        </form>

    </div>
    <div class="main-content"></div>
</main>
<%- include("../../shared/footer") %>
