<%- include("../shared/header") %>
<%- include("../shared/navbar", {user}) %>
<main class="main flex-row">
    <div class="main-content"></div>
    <div class="main-content flex-column" id="mainContent">
        <span class="su-desc error"><%=messages.info %></span>
        <rssapp-wall id="eZMFrKgh3F8aPNlk"></rssapp-wall>
        <script src="https://widget.rss.app/v1/wall.js" type="text/javascript" async></script>
    </div>
    <div class="main-content"></div>
</main>
<%- include("../shared/footer") %>